@import url("https://unpkg.com/modern-css-reset/dist/reset.min.css");

@font-face {
  font-display: swap;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/fraunces-v31-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/montserrat-v26-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/montserrat-v26-latin-700.woff2") format("woff2");
}

:root {
  --color-primary-primary-dark-cyan: hsl(158, 36%, 37%);
  --color-primary-cream: hsl(30, 38%, 92%);
  --color-neutral-very-dark-blue: hsl(212, 21%, 14%);
  --color-neutral-dark-grayish-blue: hsl(228, 12%, 48%);
  --color-neutral-white: hsl(0, 0%, 100%);

  --font-primary: "Fraunces", serif;
  --font-secondary: "Montserrat", sans-serif;
}

body {
  background-color: var(--color-primary-cream);
  font: 500 0.875rem/1.4375rem var(--font-secondary);
  color: var(--color-neutral-dark-grayish-blue);
  min-height: 100vh;
  padding: 1rem;

  display: grid;
  place-content: center;
}

.card {
  max-width: 37.5rem;
}

.card {
  border-radius: 0.625rem;
  background-color: var(--color-neutral-white);
  display: flex;
}

.card__img-wrap {
  background: url("/assets/images/image-product-desktop.jpg") no-repeat center;
  background-size: cover;
  border-top-left-radius: 0.625rem;
  border-bottom-left-radius: 0.625rem;
}

.card__img-wrap,
.card__details {
  flex-basis: 18.75rem;
}

.card__details {
  padding: 2rem;
}

.card__eyebrow {
  text-transform: uppercase;
  letter-spacing: 0.3125rem;
  font-size: 0.75rem;
  color: var(--color-neutral-dark-grayish-blue);
}

.card__title {
  font: 700 2rem/2rem var(--font-primary);
  color: var(--color-neutral-very-dark-blue);
  margin: 1.25rem 0 1.5rem;
}

.card__price {
  color: var(--color-primary-primary-dark-cyan);
  font: 700 2rem/2rem var(--font-primary);
  margin-bottom: 1.875rem;

  display: flex;
  align-items: center;
  gap: 1.1875rem;
}

.card__description {
  margin-bottom: 1.8125rem;
}

.card__description span,
.card__price span {
  color: var(--color-neutral-dark-grayish-blue);
}

.card__price span {
  font: 400 0.8125rem/1.6 var(--font-secondary);
}

.card__cta:link,
.card__cta:visited {
  background-color: var(--color-primary-primary-dark-cyan);
  border-radius: 0.5rem;
  color: var(--color-neutral-white);
  font-size: 0.875rem;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  padding: 1rem;
  width: 100%;
  transition: background-color 0.3s cubic-bezier(0.33, 0, 0.3, 1);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.card__cta:hover,
.card__cta:active {
  background-color: hsl(158, 42%, 18%);
}

@media screen and (max-width: 48rem) {
  .card {
    flex-direction: column;
  }

  .card__img-wrap {
    flex-basis: 15rem;
    background-image: url(/assets/images/image-product-mobile.jpg);
    background-position: top center;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.625rem;
  }

  .card__details {
    padding: 1.5rem;
  }

  .card__title {
    margin: 0.75rem 0 1rem;
  }
}
